body {
    background-color: rgba(50, 67, 67, 0.702);
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: center;
}

.cool_table{
    border: 1px solid;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
.header {
    background-color: #1b4223;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    flex-wrap: wrap;
    height: 90px
}

.nav {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.nav li {
    margin-left: 10px;
}

.nav a {
    text-decoration: none;
    color: white;
}

.signin {
    padding-top: 60px;
}

.signin2 a{
    color: black;
}
.footer {
    font-size: 10px;
}